ipywidgets==8.1.2
matplotlib>=3.9
pandas>=2.2.3
torch==2.8.0
torchvision==0.23.0
tqdm==4.66.4
pillow>=12.1.1
fonttools>=4.60.0
filelock>=3.20.3
numpy>=1.26
scipy>=1.11
scikit-learn>=1.4
xgboost>=2.0
shap>=0.45
statsmodels>=0.14
seaborn>=0.13
openpyxl>=3.1
